body {
  background-color: white;
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in;
  padding: 3px;
}

a:hover {
  border-bottom: 2px solid white;
}

.img-link {
  border-bottom: none;
  padding: 0px;
}

.img-link:hover {
  border-bottom: none;
  padding: 0px;
}
